<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Fei Fang </h4>
  </div>
  <div class="user-content">
    <p>
      欢迎来到我的个人主页. &nbsp; 我是一个具备多种编程语言基础的CS学子. &nbsp;我偏好的研究/就业方向是游戏, &nbsp;计算机图形学, &nbsp;以及一些算法和LLM. &nbsp;目前在学习CS自学指南中的课程, 会在此过程中慢慢完善我的个人主页和github.&nbsp;还在持续学习和努力中,&nbsp;尽情期待~
    </p>
    <p>Welcome to my personal homepage. I am a Computer Science student with a foundation in various programming languages. My preferred research and career interests are in gaming, computer graphics, as well as some algorithms and LLMs. I am currently following the CS self-study guide courses and will gradually improve my personal homepage and GitHub during this process. I am continuously learning and striving, so stay tuned!</p>
    <p class="contacts center-align">
      <a href="https://github.com/AugusFANG">GitHub</a>
      &nbsp;&nbsp;&nbsp;
      <a href="mailto:fangfei1019@outlook.com">Email</a>
    </p>
    
  </div>
</div>